.form {
  width: 71%;
  margin: 0 auto;
  text-align: center;
}

.form-header {
  background-color: #d4f6e8;
  height: 3px;
  text-align: center;
}

.form-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.form-control .input {
  flex-basis: 70%;
  border: 1px solid rgb(156 163 175);
  border-radius: 4px;
  height: 30px;
  padding: 2px 8px;
}

.form-control .input-textarea {
  border: 1px solid rgb(156 163 175);
  border-radius: 4px;
  flex-basis: 70%;
  padding: 2px;
}

.form button {
  padding: 5px 10px;
  margin: 2rem 0;
  border: none;
  background-color: #d4f6e8;
  font-size: 14px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.form p {
  font-size: 14px;
}

.form span {
  cursor: pointer;
  color: rga(4, 136, 170);
  color: #307bbd;
}

.form .error {
  color: red;
  font-size: 13px;
}
